@import url("./fonts.css");
@import url("./partials/_variables.css");

/* Start navigation */

.head .main_menu .navbar .navbar-brand {
  font-family: var(--raleway);
  text-transform: uppercase;
  padding: 0 2rem 0 5rem;
}

.head .main_menu .navbar {
  padding: 1rem 15rem;
}

.head .main_menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--raleway);
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem;
  color: var(--title-color);
}

.head .main_menu .navbar-nav .active a{
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head .main_menu .navbar-nav a:hover{
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End navigation */

/* Start banner area */

.site_main .site_banner .site-title h3 {
  padding-top: 35%;
}

.site_main .site_banner .site-title h1 {
  font-size: 4rem;
}

.site_main .site_banner .site-title h4 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.site_main .site_banner .site-title h4::after {
  content: "";
  border-right: 1px solid black;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site_main .site_banner .banner > img {
  padding: 7rem 0;
}

/* End banner area */